@import "main.less";

html, body{
  width: 100%;
  position: relative;
  height: 100%;
}
body{
  overflow: hidden;
}
.contaniner{
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  h1{
    position: absolute;
    left: 0;
    right: 0;
    height: 20%;
    width: 80%;
    margin: 0 auto;
    background-image: url(../img/title.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
  }
  ul, li{
    .reset-list-style();
    margin: 0;
    padding: 0;
  }

  .voters{
    position: absolute;
    height: 100%;
    margin: 7px auto 0;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    .clearfix();
  }

  .vote{
    float: left;
    width: 100/8%;
    height: 50%;
    .vote-avatar{
      width: 58px;
      height: 58px;
      overflow: hidden;
      background-position: center;
      background-size: contain;
      border-radius: 50%;
      margin: 0 auto 10px;
    }
    .vote-container{
      transform: scaleX(2); //....

      .img-replace('../img/votebar.png');
      width: 48px;
      height: 166px;
      margin: 0 auto;
      position: relative;
    }

    .vote-top{
      left: 3px;
      position: absolute;
      .img-replace('../img/redtop.png');
      &.red{
        .img-replace('../img/redtop.png');
      }
      &.blue{
        .img-replace('../img/bluetop.png');
      }
      width: 42px;
      height: 16px;
      margin: 0 auto;
      bottom: 10px; //调这个 往上加
      transition: bottom 250ms ease;
    }
    .vote-bottom{
      position: absolute;
      .img-replace('../img/red.png');
      &.red{
        .img-replace('../img/red.png');
      }
      &.blue{
        .img-replace('../img/blue.png');
      }
      background-repeat: repeat-y!important;
      width: 42px;
      height: 1px;
      margin:0 auto;
      left: 3px;

      bottom: 6px;
      height: 4px; //调这个
      transition: height 250ms ease;
      border-radius: 0 0 5px 5px;
    }
    .vote-number{
      text-align: center;
      color: #ED2B2B;
      margin: 5px 0 10px;
      font-size: 48px;
    }
    .vote-name{
      text-align: center;
      color: #ED2B2B;
      margin: 10px 0 40px;
//      font-size: 48px;
//      font-size: 24px;
//      white-space: nowrap;
      font-size: 22px;
      white-space: pre-line;
    }

  }
}

