.global-normalize();

html, body, .container{
  width: 100%;
}


@font-face {font-family: "love";
  src: url('../style/love.eot'); /* IE9*/
  src: url('../style/love.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../style/love.woff') format('woff'), /* chrome、firefox */
  url('../style/love.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../style/love.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.love {
  font-family:"love" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  background-color: rgb(239, 239, 239);
  .top{
    width: 100%;
  }
}
ul, li{
  margin: 0;
  padding: 0;
  .reset-list-style();
}

ul{
  padding: 2%;
}
li{
  width: 100%;
  background-color: #FFFFFF;
  margin-bottom: 2%;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 3px;
  color: rgb(102, 102, 102);
  .c-top{
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 2.5%;
    .clearfix();
  }
  .avatar{
    width: 20%;
    float: left;
    margin-top: 5px;
//    margin-right: 2.5%;
  }
  h3{
    color: #000;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    text-indent: 2.5%;
  }
  p{
    width: 77.5%;
    padding-left: 2.5%;
    float: right;
    text-indent: 2em;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
  }
  .c-bottom{
    .clearfix();
    div{
      float: left;
      min-height: 40px;
      line-height: 40px;
      width: 100%;
      text-align: center;
    }
    .vote-number{
      box-sizing: border-box;
      border-right: 1px solid rgb(221, 221, 221);
    }
  }
  .love{
    color: #F4747A;
    font-size: 26px;
  }
}

.flow{
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 1;
  &.hidden{
    opacity: 0;
    display: none;
  }

  .top100{
    margin-top: 100px;
  }
  .center{
    text-align: center;

  }

  #vcode{
    width: 80%;
    line-height: 1.2em;
    font-size: 40px;
    border: 1px solid #DDD;
    border-radius: 8px;
    padding: 5px;
    outline: none;
    -webkit-appearance: none;
    text-align: center;
  }

  .submit{
    width: 100px;
    background-color: #e31e09;
    height: 40px;
    outline: none;
    -webkit-appearance: none;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    color: #FFF;
    font-size: 25px;
  }
}

.one-center{
  height: 130px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}