<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>实时投票后台管理系统</title>
    <!-- Bootstrap -->
    <link href="style/bootstrap.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="row">
        <h1>实时投票后台管理系统</h1>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">候选人池</div>
            <!--<div class="panel-body">-->
                <!--<p>...</p>-->
            <!--</div>-->
            <!-- Table -->
            <table class="table table-bordered table-hover">
                <tr>
                    <th>序号ID</th>
                    <th>姓名</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>
                        <a class="btn btn-success" href="#" role="button">添加到正式候选人</a>
                        <a class="btn btn-danger" href="#" role="button">删除</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">正式候选人</div>
            <!--<div class="panel-body">-->
            <!--<p>...</p>-->
            <!--</div>-->
            <!-- Table -->
            <table class="table table-bordered table-hover">
                <tr>
                    <th>序号ID</th>
                    <th>姓名</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>
                        <a class="btn btn-danger" href="#" role="button">从正式候选人中删除</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>