<!DOCTYPE html>
<html>
  <head>
    <title>这是title</title>
    <link rel="stylesheet" href="./style/screen.css"/>
  </head>
  <body>
    <div class="contaniner">
      <h1>“移动4G”第34届重庆市大学生“校园之春”十大歌手大赛</h1>
      <ul class="voters">
        <li class="vote">
          <div class="vote-container">
            <div class="vote-top"></div>
            <div class="vote-bottom"></div>
          </div>
          <div class="vote-name">陈经纬</div>
        </li>
        <li class="vote">
          <div class="vote-container">
            <div class="vote-top"></div>
            <div class="vote-bottom"></div>
          </div>
          <div class="vote-name">陈经纬</div>
        </li>
        <li class="vote">
          <div class="vote-container">
            <div class="vote-top"></div>
            <div class="vote-bottom"></div>
          </div>
          <div class="vote-name">陈经纬</div>
        </li>
        <li class="vote">
          <div class="vote-container">
            <div class="vote-top"></div>
            <div class="vote-bottom"></div>
          </div>
          <div class="vote-name">陈经纬</div>
        </li>
        <li class="vote">
          <div class="vote-container">
            <div class="vote-top"></div>
            <div class="vote-bottom"></div>
          </div>
          <div class="vote-name">陈经纬</div>
        </li>
        <li class="vote">
          <div class="vote-container">
            <div class="vote-top"></div>
            <div class="vote-bottom"></div>
          </div>
          <div class="vote-name">陈经纬</div>
        </li>
        <li class="vote">
          <div class="vote-container">
            <div class="vote-top"></div>
            <div class="vote-bottom"></div>
          </div>
          <div class="vote-name">陈经纬</div>
        </li>
        <li class="vote">
          <div class="vote-container">
            <div class="vote-top"></div>
            <div class="vote-bottom"></div>
          </div>
          <div class="vote-name">陈经纬</div>
        </li>
        <li class="vote">
          <div class="vote-container">
            <div class="vote-top"></div>
            <div class="vote-bottom"></div>
          </div>
          <div class="vote-name">陈经纬</div>
        </li>
        <li class="vote">
          <div class="vote-container">
            <div class="vote-top"></div>
            <div class="vote-bottom"></div>
          </div>
          <div class="vote-name">陈经纬</div>
        </li>
        <li class="vote" data-vote="123" id="test">
          <div class="vote-container">
            <div class="vote-top blue"></div>
            <div class="vote-bottom blue"></div>
          </div>
          <div class="vote-name">陈经纬</div>
        </li>
      </ul>
    </div>
    <!--<script src="./sio/socket.io.js"></script>-->
    <script src="js/jquery-1.7.2.min.js"></script>
    <script src="js/screen.js"></script>
  </body>
</html>
