<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div class="wrapper">
    我的当前票数是
    <span id="nowVoteNum">0</span>
</div>
<button id="btn">
    点我投票啊
</button>
<script src="./sio/socket.io.js"></script>
<script src="js/user.js"></script>
</body>
</html>