<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>投票验证</title>
    <link rel="stylesheet" href="style/user.css"/>
</head>
<body>
<div class="flow">
    <div class="one-center">
        <div class="center">
            <input type="tel" placeholder="输入验证码" id="vcode"/>
        </div>
        <div class="center">
            <button class="submit">确定</button>
        </div>
    </div>
</div>

<script src="js/zepto-1.1.4.min.js"></script>
<script>
    $('.submit').click(function(){
        var _vcode = $('#vcode').val();
        $.post('/wsvoter/verify', {vcode: _vcode}, function(res){
            if(res && res.status == 200){
                location = '/wsvoter/user?uniqueid=' + _vcode;
            }else{
                alert('请检查您的验证码!');
            }
        });
    });

    var info = "<%=info%>";
    if(info) alert(info);
</script>
</body>
</html>